@import "libs/mixins.scss"
@import "libs/responsive.scss"

$taille: 100%
$border: solid 1px #000
$primary: #FEFEFE
$bord-rad: 15px
$color-ctn: #0079FF
$margin: 10%

*
    font-family: monospace
    font-size: 15px
    margin: 0
    padding: 0

    

body
    background: #F6F8FF
    height: 98vh
    +flexAll


main
    width: 730px
    height: auto
    +flexAll
    flex-direction: column
    


.title
    width: $taille
    height: 38px
    +flexLigne
    p
        font-weight: bold
        font-size: 26px 
    
   

.search
    margin-top: 2%
    width: $taille
    height: 69px
    background: $primary
    border-radius: $bord-rad
    +flexLigne
    img
        margin-left: 32px

    input
        border-radius: $bord-rad
        border: none
        width: 60%
        margin-right: 100px 
        outline: none
        color: $color-ctn
        font-size: 18px

    button
        width: 106px
        height: 50px
        border-radius: $bord-rad
        background: $color-ctn
        border: none
        margin-right: 10px
        font-weight: bold
        color: #FFFFFF


.result
    margin-top: 3.5%
    width: $taille
    height: 419px
    background: $primary
    border-radius: $bord-rad
    display: grid
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567)
    border-radius: 15px
    grid-template-columns: 202px 251px 277px
    grid-template-rows: repeat(3, 1fr)
    grid-template-areas:  "img prest prest" "img stats stats" "img contact contact"
   




.img

    grid-area: img

    img
        margin-left: 48px
        margin-top: 48px
    

.prest
    max-height: 200px
    width: 100%
    grid-area: prest
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-template-areas: "nom join" "prof prof"
    h1
        font-size: 26px
        margin-top: 48px 
        margin-bottom: 20px
        font-weight: bold

    h2
        font-size: 22px
        color: $color-ctn
        margin-bottom: 33px

    p
        color: #4B6A9B

.nom
    grid-area: nom
    margin-top: 28px 

.prof
    grid-area: prof
    margin-top: 2%

.join
    grid-area: join
    margin-top: 13% 
    margin-left: 26%


.stats
    
    grid-area: stats
    .back
        margin-top: 38px
        height: 85px
        width: 480px
        background: #97979721
        border-radius: $bord-rad
        display: flex
        align-items: center
        flex-direction: column

.haut
    width: $taille
    display: flex
    flex-direction: row
    
    color: #4B6A9B
    margin-top: 15px

.repos
    margin-left: 6% 

.follower
    margin-left: 20%

.following
    margin-left: 15%

.bas
    width: $taille
    display: flex
    flex-direction: row
    margin-top: 5px
    p
        font-weight: bold
        font-size: 1.8rem


.rslt1
    margin-left: 6%

.rslt2
    margin-left: 25%

.rslt3
    margin-left: 18.5%
        
    

.contact
    grid-area: contact
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-template-areas: "adresse twiter" "blog git"
    p
        margin-left: 7%
        color: #4B6A9B
    
    i
        color: #4B6A9B
        font-size: 20px      

.adresse
    grid-area: adresse
    +flexContact
    margin-top: $margin
    

.twiter
    grid-area: twiter
    +flexContact
    margin-top: $margin
   

.blog
    grid-area: blog
    +flexContact
    margin-top: 2%
    

.git
    grid-area: git
    +flexContact
    margin-top: 2%
    

@media #{$medium-up}


    body
        
    main
        width: 573px
        height: 700px

    .result
        display: grid
        height: 481px
        grid-template-columns: 150px 423px
        grid-template-rows: repeat(4, 1fr)
        grid-template-areas: "img prest" "stats stats" "contact contact"

    

.img
    margin-left: -10px
    margin-top: -10px

.prest
    
    h1
        margin: 0
        font-size: 26px
        line-height: 39px
    h2
        margin: 0
        font-size: 16px
        line-height: 24px

    p
        font-size: 15px
        line-height: 22px


        
