* {
  font-family: monospace;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  background: #F6F8FF;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 730px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title p {
  font-weight: bold;
  font-size: 26px;
}

.icon {
  border: solid 1px #000;
}

#lune {
  display: flex;
}

#soleil {
  display: none;
}

.ctn-search {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  margin-top: 2%;
  width: 100%;
  height: 69px;
  background: #FEFEFE;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ctn-search img {
  margin-left: 32px;
}
.ctn-search form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ctn-search input {
  border-radius: 15px;
  border: none;
  width: 60%;
  margin-right: 100px;
  outline: none;
  color: #0079FF;
  font-size: 18px;
}
.ctn-search button {
  width: 106px;
  height: 50px;
  border-radius: 15px;
  background: #0079FF;
  border: none;
  margin-right: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

#result {
  margin-top: 3.5%;
  width: 100%;
  height: 419px;
  background: #FEFEFE;
  border-radius: 15px;
  display: grid;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  grid-template-columns: 202px 251px 277px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "prest prest prest" "sats stats stats" "conatc contact contact";
}

.prest {
  max-height: 200px;
  width: 100%;
  grid-area: prest;
  display: grid;
  grid-template-columns: 28% 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "image nom join" "image prof prof";
}
.prest h1 {
  font-size: 26px;
  margin-top: 16%;
  margin-bottom: 20px;
  font-weight: bold;
}
.prest h2 {
  font-size: 22px;
  color: #0079FF;
  margin-bottom: 33px;
}
.prest p {
  color: #4B6A9B;
}

.img {
  grid-area: image;
}
.img img {
  margin-left: 23%;
  margin-top: 23%;
}

.nom {
  grid-area: nom;
}

.prof {
  grid-area: prof;
  margin-right: 3%;
}

.join {
  grid-area: join;
  margin-top: 13%;
  margin-left: 26%;
}

.stats {
  grid-area: stats;
}
.stats .back {
  margin-top: 38px;
  height: 85px;
  width: 90%;
  background: #97979721;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.haut {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #4B6A9B;
  margin-top: 15px;
}

.repos {
  margin-left: 6%;
}

.follower {
  margin-left: 20%;
}

.following {
  margin-left: 15%;
}

.bas {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.bas p {
  font-weight: bold;
  font-size: 1.8rem;
}

.rslt1 {
  margin-left: 6%;
}

.rslt2 {
  margin-left: 25%;
}

.rslt3 {
  margin-left: 18.5%;
}

.contact {
  width: 90%;
  grid-area: contact;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "adresse twiter" "blog git";
}
.contact p {
  margin-left: 7%;
  color: #4B6A9B;
}
.contact i {
  color: #4B6A9B;
  font-size: 20px;
}

.adresse {
  grid-area: adresse;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.twiter {
  grid-area: twiter;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.blog {
  grid-area: blog;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.git {
  grid-area: git;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 20%;
    width: 90%;
    height: 700px;
  }

  #result {
    display: grid;
    height: 481px;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "prest prest" "stats stats" "contact contact";
  }

  .prest {
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "image nom nom" "image join join" "prof prof prof";
  }
  .prest h1 {
    margin: 0;
    font-size: 26px;
    line-height: 39px;
  }
  .prest h2 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .prest p {
    font-size: 15px;
    line-height: 22px;
  }

  .nom {
    margin-top: 12%;
    margin-left: 8%;
  }

  .join {
    margin: 0%;
    margin-left: 8%;
    margin-top: 1%;
  }

  .prof {
    margin-top: 5%;
    margin-left: 6.8%;
    margin-right: 5%;
  }

  .stats {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .contact {
    margin-left: 8.5%;
  }
}
@media only screen and (max-width: 428px) {
  main {
    width: 90%;
  }

  #result {
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 80%;
  }

  .ctn-search input {
    font-size: 13px;
  }
  .ctn-search button {
    width: 45%;
    height: 80%;
  }

  .img img {
    margin: 0;
    margin-top: 25%;
    margin-left: 27%;
    width: 70px;
    height: 70px;
  }

  .prest {
    grid-template-columns: 33% 60%;
    grid-template-rows: 30%;
  }

  .nom {
    margin: 0;
    margin-top: 12%;
  }
  .nom h1 {
    font-size: 16px;
    line-height: 18px;
  }
  .nom h2 {
    font-size: 13px;
  }

  .join {
    margin: 0;
    margin-top: 7%;
  }
  .join p {
    font-size: 13px;
  }

  .prof {
    width: 80%;
    height: 100%;
    margin: 0;
    margin-left: 8%;
    margin-top: 2%;
  }
  .prof p {
    word-wrap: break-word;
  }

  .stats {
    width: 100%;
    margin-left: 2%;
  }

  .back {
    width: 100%;
  }

  .haut {
    margin: 0;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  .haut p {
    font-size: 13px;
  }

  .bas {
    margin: 0;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
  }
  .bas p {
    font-size: 16px;
  }

  .rslt {
    margin: 0;
  }

  .rslt1, .rslt2, .rslt3 {
    margin-right: 7%;
  }

  .contact {
    grid-template-columns: 1fr 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "adresse" "twiter" "blog" "git";
    margin: 0;
    margin: 5% 0% 0 8%;
  }
  .contact p {
    font-size: 13px;
  }

  .ac {
    margin: 5% 0 0 0;
  }

  .blog p {
    margin-left: 6%;
  }

  .twiter p {
    margin-left: 6%;
  }
}

/*# sourceMappingURL=style.css.map */
